.body {
  margin: 20px;
}

.form {
  display: grid;
  width: 500px;
  margin: auto;
}

.form-control:focus {
  border-color: #444444;
  box-shadow: 0 0 0 0.15rem #00000045;
}

.submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}
