a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: rgb(134, 134, 134);
  text-decoration: none;
}

a:visited {
  color: #000000;
}

.rs-dropdown-item-submenu:hover > .rs-dropdown-item-toggle,
.rs-dropdown-item.rs-dropdown-item-focus,
.rs-dropdown-item:focus-visible,
.dropdown-item:active {
  color: black;
  background-color: rgba(0, 0, 0, 0.047);
}
