@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  font-family: "Josefin Sans", cursive;
}

/*
.image {
  opacity: 1;
  display: block;

  transition: 0.5s ease;
  backface-visibility: hidden;
}
.image:hover {
  opacity: 0.6;
}

@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

* {
  font-family: "Tinos", serif;
}
*/
