@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  font-family: "Josefin Sans", cursive;
  caret-color: transparent;
}

/*
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");

* {
  font-family: "Tinos", serif;
}
*/
